body{
    font-size: 15px;
    font-family: "Comic Sans MS";
    margin: 0;
    padding: 0;
   overflow: hidden;
    color: black;
    background-size: 60% 100%;
}
iframe{
    width: 99%;
    height: 99%;
    border: none;
}
.font-face {
    font-family: layla;
    src: url('LaylaExtraBold.ttf');
}
#bodyprincipal{
    background-image: url('bg2.jpg');
    
}
h1{
    font-size: 36px;
    margin-top: 1px;
    text-align: center;
}
#categoriaSeleccionado{
    font-size: 36px;
    margin-top: 1px;
    text-align: center;
}
#by{
    background: white none repeat scroll 0 0;
    border: medium solid;
    padding: 15px;
    position: absolute;
    top: 87px;
    width: 409px;
}
table *{
    text-align: center;
    padding:0;
}
table div{
    word-wrap: break-word;
}
table td, table th{
    padding:0 2px;
}
table td input,table td select{
    width: 100%;
}
thead{
    background: #38353c none repeat scroll 0 0;
    color: #d9d9d9;
}
ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
table{
    background: white;
    display: block;
    overflow-x: auto;
    overflow-y: hidden;
    font-size: 11px;
}
tbody{
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
}
.centrar{
    text-align: center;
    margin: 0 auto;
}
img{
    height: 100%;
    width: 100%;
     border-radius: 133px;
}
.negrilla{
    font-weight: bold;
}
.negrillaenter{
    font-weight: bold;
    display: block;
    padding-top: 3px;
}
.sinborde{
    border: none;
}
.pequeno{
    width: 50px;
     
}
.pequeno2{
    width: 20px;
    height: 20px;
}
.chico{
    width: 70px;
}
.normal{
    width: 100px;
}
.medio{
    width: 150px;
}
.grande{
    width: 200px;
}
.grande2{
    width: 250px;
}
.grande3{
    width: 300px;
}
button{
    border: 1px solid;
    border-radius: 6px;
    padding: 1px;
    margin-top: 10px;
    cursor: pointer;
}
.error{
    color: #4f0d00;
    display: block;
    font-size: 12px;
}
.correcto{
    color: #00FF00;
    display: block;
    font-size: 12px;
}
.popup{
    background: white;
    border: solid medium appworkspace;
    padding: 11px 21px;
    display:none;
        width: 336px;
}
.alineacionIzquierda{
    float: left;
}
.alineacionDerecha{
    float: right;
}
.dor50{
    width: 49%;
    float: left;
    padding: 0;
    min-height: 10px;
}
.contenedor30{
    width: 29%;
    float: left;
    padding: 0;
}
.contenedor70{
    width: 69%;
    float: left;
    padding: 0;
}
.contenedor50{
    width: 50%;
    float: left;
    padding: 0;
}
#msmOK{
    border: medium solid #4c4c4c;
    border-radius: 7px;
    width: 340px;
    z-index: 5;
}
.background{
    background: rgba(163, 160, 173, 0.9) none repeat scroll 0 0;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    display: none;
}
#cargando{
    background: rgba(163, 160, 173, 0.37) none repeat scroll 0 0;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    display: none;
}
#cargando img{
    height: 80%;
}
#cargando div{
    background: white none repeat scroll 0 0;
    border: medium solid;
    border-radius: 15px;
    height: 160px;
    margin: 155px auto;
    width: 230px;
}
.vistafoto{
    width: 25px;
}
.vistafoto:hover{
    width: 50px;
}
div{
    padding: 3px 10px;
}

body{
    font-family: arial;
    
}
#principal {
   height: 1000px;
   width: 600px;
   background-color: red;
   margin: 0 auto;
}
.point:hover{
    cursor:pointer;
    transform: scale(1.05,1.05);
    
    
}
#idmenu{
  height: 30px;
    margin-left: -9px;
    margin-top: 20px;
    width: 98.3%;
}
#idmenu span:first-of-type{
    margin-left: -26px;
}
#idmenu span{
    background: rgba(245,106,25,0.8);
   box-shadow: 0 0 2px 2px;
   display: inline-block;
   font-size: 24px;
   margin-left: 12px;
   padding: 12px 25px;
   position: relative;
   top: -45px;
   width: 150px;
   border-radius: 5px;
}
#idmenu div {
   height: 30px;
    margin-left: -41px;
    background: #008A3D;
}
.cuerpoFormulario{

     height: 475px;
    overflow: auto;
    padding-left: 62px;
    width: 918px;
}

#divprincipal{
     box-shadow: 0 0 35px 8px black;
     height: 620px;
     margin: 0 auto;
     width: 1058px;
     background: white;
     border-radius: 30px;
     margin-top: 18px;
     overflow: hidden;
}
#idcontenedor {
     height: 495px;
    width: 1000px;
    background-color: rgba(20,106,204,0.8);
    margin: 32px auto;
    padding: 13px;
    border: solid thin;
    border-radius: 3px 3px 3px 115px;
}
#idmenu span:hover{
    transform: scale(1.1,1.1);
    cursor: pointer;
     
}
#imagenpopup{
       width: 316px;
    height: 195px;
}
input.grande2 {
    border-radius: 5px;
    
}
input.grande{
    
      border-radius: 5px;
}
#fotoperfil{
    width: 200px;
    height: 200px;
    text-align: center;
    }
    #logo{
    width: 124px;
    height: 124px;
    text-align: center;
    }
#divregistro{
  display: inline-block;
    height: 493px;
    width: 320px;
     border: medium solid black;
    border-radius: 35px;
 }
 #divsucursal{
        border: medium solid black;
        border-radius: 35px;
        display: inline-block;
        height: 240px;
        padding-top: 61px;
        width: 320px;
        position: relative;
 }
  #divpersonal{
         height: 383px;
    width: 320px;
     border: medium solid black;
    border-radius: 35px;
       display: inline-block;
 }
 #ingreso{
    background: rgba(187, 187, 187, 0.75) none repeat scroll 0 0;
    border-radius: 6px;
    box-shadow: 0 0 7px 1px black;
    font-size: 25px;
    margin: 7px auto;
    padding: 5px;
    text-align: center;
    width: 270px;
    margin-top: 50px;
}
#cuerpoIngresar{
    background: #9F9F9F;
    border-radius: 7px;
    box-shadow: 0 0 7px 2px black;
    color: black;
    margin: 0 auto;
    padding: 20px;
    width: 310px;

}
.radius{
    border-radius: 5px;    
}